{% include 'head.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    .videobox{

            background-image: url("../static/planoDeFundo.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    }
    .esquerda{
        max-width: 50% !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 20% !important;
    }

    .direita{
        max-width: 50% !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 20% !important;
    }

    .text_magna{
        margin-left: 10% !important;
        width: 100% !important;

    }
    .text_smot{
        margin-left: 10% !important;
        width: 100% !important;

    }

    .divider{
        color: black !important;
    }
</style>

<body class="videobox">
<div class="ui three column doubling stackable grid container geral_inicio">
    <div class='ui column esquerda'>
        <a href='https://aqua.fabricadesoftware.ifc.edu.br'><img src="../static/magna_logo_vazio.png" id="logo" class="logo_centro_smot" width="100%"/></a>
        <div class="text_magna"><img src="../static/magna.png" width="100%"></div>
    </div>

    <div class='ui column centro'></div>
    <div class='ui column direita'>
        <a href='https://smot.fabricadesoftware.ifc.edu.br'><img src="../static/smot_logo_vazio.png" id="logo" class="logo_centro_magna" width="100%"/></a>
        <div class="text_smot"><img src="../static/smot.png" width="100%"></div>
    </div>
</div>
<div class="ui vertical divider ">
    Monitoramento da Dinâmica da Paisagem
</div>
</body>

</html>
